{% extends "core/base.html" %}

<!-- Block title -->
{% block title %}Home | Nexgensof Digital Company{% endblock %}

<!-- Block Content -->
{% block content %}

<!-- Carousel Start -->
<div class="container-fluid px-0 mb-5">
  <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="w-100" src="{{ url_for('core.static', filename='img/sliders/bg-1.jpg') }}" alt="Image" />
        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-7 text-center">
                <p class="fs-4 text-white animated slideInRight">Welcome to <strong>Nexgensof</strong></p>
                <h1 class="display-1 text-white mb-4 animated slideInRight">Unlock Your Business Growth</h1>
                <a href="" class="btn btn-primary rounded-pill py-3 px-5 animated slideInRight"
                  >Explore More</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="w-100" src="{{ url_for('core.static', filename='img/sliders/bg-2.jpg') }}" alt="Image" />
        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-7 text-center">
                <p class="fs-4 text-white animated slideInLeft">Welcome to <strong>Nexgensof</strong></p>
                <h1 class="display-1 text-white mb-5 animated slideInLeft">Ready to Grow Your Business</h1>
                <a href="" class="btn btn-primary rounded-pill py-3 px-5 animated slideInLeft"
                  >Explore More</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="w-100" src="{{ url_for('core.static', filename='img/sliders/bg4.jpg') }}" alt="Image" />
        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-7 text-center">
                <p class="fs-4 text-white animated slideInLeft">Welcome to <strong>Nexgensof</strong></p>
                <h1 class="display-1 text-white mb-5 animated slideInLeft">Digital Products Solution</h1>
                <a href="" class="btn btn-primary rounded-pill py-3 px-5 animated slideInLeft"
                  >Explore More</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#header-carousel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#header-carousel"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<!-- Carousel End -->

<!-- Features Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-0 feature-row">
      <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
        <div class="feature-item border h-100 p-5">
          <div class="btn-square bg-light rounded-circle mb-4" style="width: 64px; height: 64px">
            <img
              class="img-fluid"
              src="{{ url_for('core.static', filename='img/icon/icon-1.png') }}"
              alt="Icon"
            />
          </div>
          <h5 class="mb-3">Award Winning</h5>
          <p class="mb-0">Nexgensof is edicated to delivering cutting-edge digital solutions.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
        <div class="feature-item border h-100 p-5">
          <div class="btn-square bg-light rounded-circle mb-4" style="width: 64px; height: 64px">
            <img
              class="img-fluid"
              src="{{ url_for('core.static', filename='img/icon/icon-2.png') }}"
              alt="Icon"
            />
          </div>
          <h5 class="mb-3">Professional Staff</h5>
          <p class="mb-0">Nexgensof is edicated to delivering cutting-edge digital solutions.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
        <div class="feature-item border h-100 p-5">
          <div class="btn-square bg-light rounded-circle mb-4" style="width: 64px; height: 64px">
            <img
              class="img-fluid"
              src="{{ url_for('core.static', filename='img/icon/icon-3.png') }}"
              alt="Icon"
            />
          </div>
          <h5 class="mb-3">Fair Prices</h5>
          <p class="mb-0">Nexgensof is edicated to delivering cutting-edge digital solutions.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
        <div class="feature-item border h-100 p-5">
          <div class="btn-square bg-light rounded-circle mb-4" style="width: 64px; height: 64px">
            <img
              class="img-fluid"
              src="{{ url_for('core.static', filename='img/icon/icon-4.png') }}"
              alt="Icon"
            />
          </div>
          <h5 class="mb-3">24/7 Support</h5>
          <p class="mb-0">Nexgensof is edicated to delivering cutting-edge digital solutions.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Features End -->

<!-- About Start -->
<div class="container-xxl about my-5">
  <div class="container">
    <div class="row g-0">
      <div class="col-lg-6">
        <div class="h-100 d-flex align-items-center justify-content-center" style="min-height: 300px">
          <button
            type="button"
            class="btn-play"
            data-bs-toggle="modal"
            data-src="#"
            data-bs-target="#videoModal"
          >
            <span></span>
          </button>
        </div>
      </div>
      <div class="col-lg-6 pt-lg-5 wow fadeIn" data-wow-delay="0.5s">
        <div class="bg-white rounded-top p-5 mt-lg-5">
          <p class="fs-5 fw-medium text-primary">About Us</p>
          <h1 class="display-6 mb-4">Modern and Dynamic Digital Solutions</h1>
          <p class="mb-4">
            Nexgensof is an innovative software company dedicated to delivering cutting-edge digital solutions
            tailored to meet the evolving needs of businesses across various industries.
          </p>
          <div class="row g-5 pt-2 mb-5">
            <div class="col-sm-6">
              <img
                class="img-fluid mb-4"
                src="{{ url_for('core.static', filename='img/icon/icon-5.png') }}"
                alt=""
              />
              <h5 class="mb-3">Managed Services</h5>
              <span>Modern and Dynamic Digital Solutions</span>
            </div>
            <div class="col-sm-6">
              <img
                class="img-fluid mb-4"
                src="{{ url_for('core.static', filename='img/icon/icon-2.png') }}"
                alt=""
              />
              <h5 class="mb-3">Dedicated Experts</h5>
              <span>Modern and Dynamic Digital Solutions</span>
            </div>
          </div>
          <a class="btn btn-primary rounded-pill py-3 px-5" href="">Explore More</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About End -->

<!-- Video Modal Start -->
<div
  class="modal modal-video fade"
  id="videoModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content rounded-0">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Intro Video</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- 16:9 aspect ratio -->
        <div class="ratio ratio-16x9">
          <iframe
            class="embed-responsive-item"
            src=""
            id="video"
            allowfullscreen
            allowscriptaccess="always"
            allow="autoplay"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Video Modal End -->

<!-- Service Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px">
      <p class="fs-5 fw-medium text-primary">Our Services</p>
      <h1 class="display-5 mb-5">Digital Marketing Services that We Offer</h1>
      <p>
        Nexgensof offers a comprehensive range of services designed to address the full spectrum of software
        development needs:
      </p>
    </div>
    <div class="row g-4">
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="service-item position-relative h-100">
          <div class="service-text rounded p-5">
            <div class="btn-square bg-light rounded-circle mx-auto mb-4" style="width: 64px; height: 64px">
              <img
                class="img-fluid"
                src="{{ url_for('core.static', filename='img/services/01.png') }}"
                alt="Icon"
              />
            </div>
            <h4 class="mb-3">Digital Marketing</h4>
            <p class="mb-0">Tailored solutions that align with your business goals.</p>
          </div>
          <div class="service-btn rounded-0 rounded-bottom">
            <a class="text-primary fw-medium" href=""
              >Read More<i class="bi bi-chevron-double-right ms-2"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="service-item position-relative h-100">
          <div class="service-text rounded p-5">
            <div class="btn-square bg-light rounded-circle mx-auto mb-4" style="width: 64px; height: 64px">
              <img
                class="img-fluid"
                src="{{ url_for('core.static', filename='img/services/02.png') }}"
                alt="Icon"
              />
            </div>
            <h4 class="mb-3">Web Design</h4>
            <p class="mb-0">Tailored solutions that align with your business goals.</p>
          </div>
          <div class="service-btn rounded-0 rounded-bottom">
            <a class="text-primary fw-medium" href=""
              >Read More<i class="bi bi-chevron-double-right ms-2"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="service-item position-relative h-100">
          <div class="service-text rounded p-5">
            <div class="btn-square bg-light rounded-circle mx-auto mb-4" style="width: 64px; height: 64px">
              <img
                class="img-fluid"
                src="{{ url_for('core.static', filename='img/services/03.png') }}"
                alt="Icon"
              />
            </div>
            <h4 class="mb-3">SEO Optimization</h4>
            <p class="mb-0">Tailored solutions that align with your business goals.</p>
          </div>
          <div class="service-btn rounded-0 rounded-bottom">
            <a class="text-primary fw-medium" href=""
              >Read More<i class="bi bi-chevron-double-right ms-2"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="service-item position-relative h-100">
          <div class="service-text rounded p-5">
            <div class="btn-square bg-light rounded-circle mx-auto mb-4" style="width: 64px; height: 64px">
              <img
                class="img-fluid"
                src="{{ url_for('core.static', filename='img/services/04.png') }}"
                alt="Icon"
              />
            </div>
            <h4 class="mb-3">Social Media Marketing</h4>
            <p class="mb-0">Tailored solutions that align with your business goals.</p>
          </div>
          <div class="service-btn rounded-0 rounded-bottom">
            <a class="text-primary fw-medium" href=""
              >Read More<i class="bi bi-chevron-double-right ms-2"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="service-item position-relative h-100">
          <div class="service-text rounded p-5">
            <div class="btn-square bg-light rounded-circle mx-auto mb-4" style="width: 64px; height: 64px">
              <img
                class="img-fluid"
                src="{{ url_for('core.static', filename='img/services/05.png') }}"
                alt="Icon"
              />
            </div>
            <h4 class="mb-3">Content Marketing</h4>
            <p class="mb-0">Tailored solutions that align with your business goals.</p>
          </div>
          <div class="service-btn rounded-0 rounded-bottom">
            <a class="text-primary fw-medium" href=""
              >Read More<i class="bi bi-chevron-double-right ms-2"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="service-item position-relative h-100">
          <div class="service-text rounded p-5">
            <div class="btn-square bg-light rounded-circle mx-auto mb-4" style="width: 64px; height: 64px">
              <img
                class="img-fluid"
                src="{{ url_for('core.static', filename='img/services/07.png') }}"
                alt="Icon"
              />
            </div>
            <h4 class="mb-3">Email Marketing</h4>
            <p class="mb-0">Tailored solutions that align with your business goals.</p>
          </div>
          <div class="service-btn rounded-0 rounded-bottom">
            <a class="text-primary fw-medium" href=""
              >Read More<i class="bi bi-chevron-double-right ms-2"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Service End -->

<!-- Project Start -->
<div class="container-xxl pt-5">
  <div class="container">
    <div
      class="text-center text-md-start pb-5 pb-md-0 wow fadeInUp"
      data-wow-delay="0.1s"
      style="max-width: 500px"
    >
      <p class="fs-5 fw-medium text-primary">Our Projects</p>
      <h1 class="display-5 mb-5">We've Done Lot's of Awesome Projects</h1>
    </div>
    <div class="owl-carousel project-carousel wow fadeInUp" data-wow-delay="0.1s">
      <div class="project-item mb-5">
        <div class="position-relative">
          <img class="img-fluid" src="{{ url_for('core.static', filename='img/portfolio/01.jpg') }}" alt="" />
          <div class="project-overlay">
            <a
              class="btn btn-lg-square btn-light rounded-circle m-1"
              href="{{ url_for('core.static', filename='img/portfolio/01.jpg') }}"
              data-lightbox="project"
              ><i class="fa fa-eye"></i
            ></a>
            <a class="btn btn-lg-square btn-light rounded-circle m-1" href=""><i class="fa fa-link"></i></a>
          </div>
        </div>
        <div class="p-4">
          <a class="d-block h5" href="">Web Design and Development</a>
          <span>Learn More >></span>
        </div>
      </div>
      <div class="project-item mb-5">
        <div class="position-relative">
          <img class="img-fluid" src="{{ url_for('core.static', filename='img/portfolio/02.jpg') }}" alt="" />
          <div class="project-overlay">
            <a
              class="btn btn-lg-square btn-light rounded-circle m-1"
              href="{{ url_for('core.static', filename='img/portfolio/02.jpg') }}"
              data-lightbox="project"
              ><i class="fa fa-eye"></i
            ></a>
            <a class="btn btn-lg-square btn-light rounded-circle m-1" href=""><i class="fa fa-link"></i></a>
          </div>
        </div>
        <div class="p-4">
          <a class="d-block h5" href="">Mobile App development</a>
          <span>Learn More >></span>
        </div>
      </div>
      <div class="project-item mb-5">
        <div class="position-relative">
          <img class="img-fluid" src="{{ url_for('core.static', filename='img/portfolio/03.jpg') }}" alt="" />
          <div class="project-overlay">
            <a
              class="btn btn-lg-square btn-light rounded-circle m-1"
              href="{{ url_for('core.static', filename='img/portfolio/03.jpg') }}"
              data-lightbox="project"
              ><i class="fa fa-eye"></i
            ></a>
            <a class="btn btn-lg-square btn-light rounded-circle m-1" href=""><i class="fa fa-link"></i></a>
          </div>
        </div>
        <div class="p-4">
          <a class="d-block h5" href="">Business Target Market</a>
          <span>Learn More >></span>
        </div>
      </div>
      <div class="project-item mb-5">
        <div class="position-relative">
          <img class="img-fluid" src="{{ url_for('core.static', filename='img/portfolio/04.jpg') }}" alt="" />
          <div class="project-overlay">
            <a
              class="btn btn-lg-square btn-light rounded-circle m-1"
              href="{{ url_for('core.static', filename='img/portfolio/04.jpg') }}"
              data-lightbox="project"
              ><i class="fa fa-eye"></i
            ></a>
            <a class="btn btn-lg-square btn-light rounded-circle m-1" href=""><i class="fa fa-link"></i></a>
          </div>
        </div>
        <div class="p-4">
          <a class="d-block h5" href="">Social Marketing Strategy</a>
          <span>Learn More >></span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Project End -->

<!-- Quote Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
        <p class="fs-5 fw-medium text-primary">Get A Quote</p>
        <h1 class="display-5 mb-4">Need Our Expert Help? We're Here!</h1>
        <p>
          Our team of experienced developers, designers, and consultants are passionate about technology and
          committed to delivering solutions that drive real results.
        </p>
        <p class="mb-4">
          Whether you’re a startup looking to bring a new idea to life or an established business seeking to
          modernize your operations, Nexgensof has the expertise and resources to help you achieve your goals.
        </p>
        <a class="d-inline-flex align-items-center rounded overflow-hidden border border-primary" href="">
          <span class="btn-lg-square bg-primary" style="width: 55px; height: 55px">
            <i class="fa fa-phone-alt text-white"></i>
          </span>
          <span class="fs-5 fw-medium mx-4">+254720031035</span>
        </a>
      </div>
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
        <h2 class="mb-4">Get A Free Quote</h2>
        <div class="row g-3">
          <div class="col-sm-6">
            <div class="form-floating">
              <input type="text" class="form-control" id="name" placeholder="Your Name" />
              <label for="name">Your Name</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              <input type="email" class="form-control" id="mail" placeholder="Your Email" />
              <label for="mail">Your Email</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              <input type="text" class="form-control" id="mobile" placeholder="Your Mobile" />
              <label for="mobile">Your Mobile</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              <select class="form-select" id="service">
                <option selected>Digital Marketing</option>
                <option value="">Web Design</option>
                <option value="">SEO Optimization</option>
                <option value="">Social Media Marketing</option>
                <option value="">Content Marketing</option>
                <option value="">E-mail Marketing</option>
              </select>
              <label for="service">Choose A Service</label>
            </div>
          </div>
          <div class="col-12">
            <div class="form-floating">
              <textarea
                class="form-control"
                placeholder="Leave a message here"
                id="message"
                style="height: 130px"
              ></textarea>
              <label for="message">Message</label>
            </div>
          </div>
          <div class="col-12 text-center">
            <button class="btn btn-primary w-100 py-3" type="submit">Submit Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Quote End -->

<!-- Testimonial Start -->
<div class="container-xxl pt-5">
  <div class="container">
    <div
      class="text-center text-md-start pb-5 pb-md-0 wow fadeInUp"
      data-wow-delay="0.1s"
      style="max-width: 500px"
    >
      <p class="fs-5 fw-medium text-primary">Testimonial</p>
      <h1 class="display-5 mb-5">What Clients Say About Our Services!</h1>
    </div>
    <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
      <div class="testimonial-item rounded p-4 p-lg-5 mb-5">
        <img
          class="mb-4"
          src="{{ url_for('core.static', filename='img/testimonials/testimonial.webp') }}"
          alt=""
        />
        <p class="mb-4">
          Tailored solutions that align with your business goals. Tailored solutions that align with your
          business goals.
        </p>
        <h5>Client Name</h5>
        <span class="text-primary">Profession</span>
      </div>
      <div class="testimonial-item rounded p-4 p-lg-5 mb-5">
        <img
          class="mb-4"
          src="{{ url_for('core.static', filename='img/testimonials/testimonial-1.jpg') }}"
          alt=""
        />
        <p class="mb-4">
          Tailored solutions that align with your business goals. Tailored solutions that align with your
          business goals.
        </p>
        <h5>Client Name</h5>
        <span class="text-primary">Profession</span>
      </div>
      <div class="testimonial-item rounded p-4 p-lg-5 mb-5">
        <img
          class="mb-4"
          src="{{ url_for('core.static', filename='img/testimonials/testimonial-2.avif') }}"
          alt=""
        />
        <p class="mb-4">
          Tailored solutions that align with your business goals. Tailored solutions that align with your
          business goals.
        </p>
        <h5>Client Name</h5>
        <span class="text-primary">Profession</span>
      </div>
      <div class="testimonial-item rounded p-4 p-lg-5 mb-5">
        <img
          class="mb-4"
          src="{{ url_for('core.static', filename='img/testimonials/testimonial-3.png') }}"
          alt=""
        />
        <p class="mb-4">
          Tailored solutions that align with your business goals. Tailored solutions that align with your
          business goals.
        </p>
        <h5>Client Name</h5>
        <span class="text-primary">Profession</span>
      </div>
    </div>
  </div>
</div>
<!-- Testimonial End -->

{% endblock %}
